{% extends "base.html" %} {% block title %}Login {% endblock %}

{% block content %}
<section class='auth'>
<form method="POST">
    <h3>Login</h3>
    <div class="formContainer">
      <div class="formQuestion">
        <input
          type="email"
          id="email"
          name="email"
          required
        />
        <label for="email">Email Address</label>
      </div>
      <div class="formQuestion">
        <input
          type="password"
          id="password"
          name="password"
          required
        />
        <label for="password">Password</label>
      </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-border-underline">Login</button>
  </form>
</section>
{% endblock %}